<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="my-auto">
                    <h4 class="mb-2">SOLUÇOES PARA</h4>
                    <h1 class="mb-3">CANDIDATOS</h1>
                    <p class="mb-5">
                        Amplie suas possibilidades! Cadastre seu currículo e aproveite os
                        recursos exclusivos que disponibilizamos para você gratuitamente
                    </p>
                    <a class="btn btn-primary text-white px-4 py-2">CADASTRE-SE</a>
                </div>                
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/assets/images/destaque.png"/>
            </div>
        </div>
    </div>
</section>

<section id="vagas">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="mb-5">Confira nossas vagas disponíveis</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <vc:vagas></vc:vagas>
        </div>
    </div>
</section>

<section id="cta">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h3 class="mb-4">Faça parte você também</h3>
                <a class="btn btn-primary text-white px-5 py-3">CADASTRE-SE</a>
            </div>
        </div>
    </div>
</section>